/*lighter blue :#3489A1 */
/*text blue :#20677B */
html body section {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.7rem;
}

#nav, #header, #footer {
	background-color: whitesmoke;
}

#header {
	height: 85vh;
	color: #20677B;
}
#header a{
	text-decoration: none;
}

#header a:hover {
	color: white;
}

#footer {
	height: 80px;
	color: #20677B;
}

h1 {
 	color: #20677B;
	font-size: 5.5rem;
	font-weight: 600;
}

.logo {
	font-weight: 200;
  	font-style: italic;
  	font-size: 35px;
  	color: #20677B;
}

.flex-outer {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
}

.flex-inner {
	width: 1150px;
	display: flex;
	align-items: center;
}

#code-examples {
	height: 400px;
	background-color: #3489A1;
	color: white;
}

.register-panel {
	position: relative;
	background-color: rgba(180,180,180,0.5);
	padding: 20px;
	color: white;
	width: 450px;
	height: 300px;
}

.button {
	margin: 0 2px;
	padding: 10px 20px;
	border-radius: 50px;
	color: white;
	border: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
}

#register.button  {
	border-color : #6DBE44;
	background-color: #6DBE44;
	font-size: 1.8rem;
	margin: auto;
}

.tweet-button {
	background-color: #4099FF;
	text-decoration: none;
}

.tweet-button:hover {
	color: white;
}

.pay-button {
	background-color: #20677B;
}

.no-fill-button {
	background-color: transparent;
	border: 2px solid white;
}

.no-fill-button:hover, .no-fill-button.active{
	border-color: #20677B;
	background-color: #20677B;
}

.code-editor {
	width: 600px;
}

.editor-header {
	height: 25px;
	border-radius: 4px 4px 0 0;
	background-color: #E6E6E6;
}

.editor-circle {
	float: left;
	margin-top: 9px;
	margin-left: 7px;
	height: 10px;
	width: 10px;
	border-radius: 20px;
	background-color: #9D9D9D;
}

.editor-body {
	height: 475px;
	background-color: #23241f;
}

.code-editor pre {
	background-color: #23241f;
	border: none;
}

.features {
	min-height: 500px;
	padding-top: 150px;
	text-align: center;
}

.features h2 {
	color: #20677B;
}